/* Responsive Css */
@media screen and (max-width: 768px) {
  .nav_list {
    width: 80%;
  }
  .hero_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px 20%;
  }
  .hero_img > img {
    margin-top: 20px;
    width: 500px;
    margin-left: -30%;
  }
  .hero_img > img:nth-child(2) {
    position: absolute;
    width: 100px;
    left: 30%;
    bottom: 40%;
  }
  .hero_img > img:nth-child(3) {
    position: absolute;
    width: 100px;
    right: 15%;
    bottom: 80%;
  
  .hero_text {
    line-height: 25px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  .hero_text > h1 {
    font-size: 50px;
    line-height: 65px;
    margin-top: -20px;
  }
  .hero_text > h3 {
    font-size: 25px;
  }
  .hero_text > p {
    font-size: 15px;
    margin-top: -20px;
  }
  .hero_btn {
    margin: 0;
    justify-content: center;
  }
  .hero_btn > button {
    padding: 7px 10px;
    font-size: 15px;
  }
  #find_more {
    width: 30%;
    height: auto;
  }
  #play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--fourth-color);
  }
  .majority_card_list {
    flex-direction: column;
  }
  .card_item {
    width: 300px;
  }
}
/* Mobile */
@media screen and (max-width: 576px) {
  section {
    height: 100%;
  }
  nav {
    padding: 11px;
  }
  .nav {
    background-color: var(--white-color);
  }
  .nav_list {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 10%;
    width: 60%;
    height: 100vh;
    background-color: var(--white-color);
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    gap: 70px;
    transform: translateX(100%);
    transition: all 1s;
    border-radius: 0 0 0 20px;
  }
  .slide {
    transform: translateX(0);
  }
  .menu_toggle {
    display: flex;
  }
  .hero_container {
    flex-direction: column;
    margin-top: 30px;
    margin: 0;
  }
  .hero_img > img {
    width: 400px;
    margin-right: -25px;
    margin-top: 30px;
  }
  .hero_text {
    line-height: 25px;
    justify-content: center;
    text-align: center;
  }
  .hero_text > h1 {
    font-size: 40px;
    line-height: 50px;
    margin-top: -20px;
  }
  .hero_text > h3 {
    font-size: 20px;
  }
  .hero_text > p {
    font-size: 15px;
    margin-top: -20px;
  }
  .hero_btn > button {
    padding: 7px 20px;
    font-size: 13px;
  }
  #find_more {
    width: 100%;
    height: auto;
  }
  #play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--fourth-color);
  }
  .majority_container {
    margin-top: 10%;
  }
  .majority_header > h1 {
    font-size: 40px;
  }
  .majority_card_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_item {
    width: 300px;
    height: 380px;
  }
  .package_container {
    margin-top: 10%;
  }
  .package_header > h3 {
    font-size: 20px;
  }
  .package_header > h1 {
    font-size: 40px;
  }
  .package_card_list {
    flex-direction: column;
  }
  .package_card_item > figure > img {
    width: 340px;
  }
  .package_icons > img {
    width: 100px;
    top: 5%;
  }
  .patner_header > h1 {
    font-size: 40px;
  }
  .patner_item > img {
    width: 50px;
    height: 50px;
  }
}
