:root {
  --h1: 50px;
  --h3: 25px;
  --p: 15px;
  --main-color: #2389da;
  --second-color: #ec9b3b;
  --third-color: #f24c4c;
  --fourth-color: #f7d716;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: all 1s;
}
.nav_logo > img {
  width: 50px;
  height: auto;
}
.nav_list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
  z-index: 10;
}
.nav_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_item > a {
  text-decoration: none;
  color: #000;
}
.fa-solid {
  font-size: 20px;
}
#item1 {
  color: var(--second-color);
}
#item2 {
  color: var(--third-color);
}
#item3 {
  color: var(--fourth-color);
}
.nav_item > button {
  padding: 10px 15px;
  background-color: var(--main-color);
  border-radius: 10px;
  border: none;
  color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transition: all 0.5s;
}
.nav_item > button:hover {
  background-color: var(--second-color);
}
/* Hamburger Menu */
.menu_toggle {
  display: none;
  flex-direction: column;
  height: 35px;
  justify-content: space-around;
  position: relative;
}
.menu_toggle > input {
  position: absolute;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.menu_toggle > span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 3px;
  transition: all 0.5s;
}
/* Burger Animation */
.menu_toggle > span:nth-child(2) {
  transform-origin: 0 0;
}
.menu_toggle > span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu_toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}
.menu_toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}
.menu_toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
section {
  width: 100%;
  height: 103vh;
}
mark {
  display: inline-block;
  line-height: 10px;
  padding-bottom: 10px;
  background-color: var(--second-color);
  color: var(--main-color);
}

/* Hero Section */
.hero_container {
  postion: relative;
  display: flex;
  width: 100%;
  padding: 0 10%;
  margin-top: 2rem;
}
.hero_img {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  position: relative;
}
.hero_img > img {
  width: 650px;
}
.hero_img > img:nth-child(2) {
  position: absolute;
  width: 150px;
  left: 10%;
  bottom: 40%;
}
.hero_img > img:nth-child(3) {
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 80%;
}
.hero_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Volkhov";
  line-height: 30px;
  font-style: normal;
  gap: 40px;
}
.hero_text > h3 {
  font-size: var(--h3);
  font-weight: 500;
  color: var(--second-color);
}
.hero_text > h1 {
  font-size: 75px;
  line-height: 85px;
  font-weight: 600;
  color: var(--main-color);
}
.hero_text > p {
  font-size: var(--p);
}
.hero_btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: var(--p);
  font-weight: 500;
}
.hero_btn > button {
  padding: 0 20px;
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
  background-color: var(--main-color);
  color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transition: all 0.5s;
}
.hero_btn > button:hover {
  background-color: var(--second-color);
}
#read_more {
  width: 30%;
  height: 100%;
  background-color: var(--third-color);
}
/* majority Section */
.majority_container {
  width: 100%;
  padding: 0 10%;
  displa: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.majority_header {
  text-align: center;
  margin-bottom: 5%;
}
.majority_header > h1 {
  font-size: var(--h1);
  font-weight: 600;
  font-family: "Volkhov";
  color: var(--second-color);
}
.majority_card_list {
  display: flex;
  gap: 20px;
}
.card_item {
  width: 700px;
  height: 400px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  gap: 20px;
}
.card_item:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.card_item > figure > img {
  width: 100px;
}
.card_item > button {
  position: absolute;
  top: 85%;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--white-color);
  transition: all 0.5s;
}
.card_item > button:hover {
  opacity: 0.8;
  background-color: var(--second-color);
}

/* Package Section */
.package_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  position: relative;
  margin-top: -2%;
}
.package_header > h1 {
  font-size: var(--h1);
  font-weight: 600;
  font-family: "Volkhov";
  color: var(--main-color);
}
.package_header > h3 {
  font-size: var(--h3);
  font-weight: 500;
  font-family: "Volkhov";
  text-transform: uppercase;
  color: var(--second-color);
}
.package_card_list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}
.package_card_item {
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0;
  z-index: 99999999;
}
.package_card_item:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card_package_text {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 400;
}
.card_package_img {
  overflow: hidden;
}
.card_package_img > img {
  width: 350px;
  transition: all 0.5s;
  border-radius: 20px;
}
.card_package_img > img:hover {
  transform: scale(1.2);
}
.card_package_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.card_package_btn > .fa-solid {
  font-size: 30px;
  color: var(--main-color);
}
.card_package_btn > button {
  font-family: "Volkhov";
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  background-color: transparent;
  color: var(--second-color);
  border-radius: 10px;
  border: none;
}
.package_icons > img {
  position: absolute;
  width: 150px;
  z-index: -1;
  right: 5%;
  top: 15%;
}
.patner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  gap: 20px;
}
.patner_header > h1 {
  text-align: center;
  font-size: var(--h1);
  font-weight: 600;
  color: var(--main-color);
  font-family: "Volkhov";
  padding-bottom: 20px;
}
.patner_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.patner_item {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.patner_item > img {
  width: 100px;
  height: 100px;
}

/* Subscribe Email / Aside */
.subs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7% 15%;
  margin: -3% 15% 10% 15%;
  border-radius: 80px 15px 50px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  background-color: var(--second-color);
  position: relative;
}
.subs_img > img {
  position: absolute;
  width: 70px;
  right: -10px;
  top: -30px;
}
.subs_text {
  color: var(--white-color);
  text-align: center;
  margin-bottom: 40px;
}
.subs_email {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.subs_email > input {
  width: 55%;
  height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
}
.subs_email :focus {
  outline: none;
}
.subs_email > button {
  padding: 5px;
  background: var(--main-color);
  border: none;
  color: var(--white-color);
  border-radius: 5px;
}
.my_identity {
  display: flex;
  justify-content: center;
}
.identity_card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  padding: 30px;
  border-radius: 20px;
}
.identity_card > img {
  width: 100px;
  border-radius: 50%;
}

/* Footer */
.footer_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5% 10%;
  margin-top: 20px;
  background-color: var(--main-color);
  color: var(--white-color);
  line-height: 40px;
}
.footer_socialmedia > ul {
  display: flex;
  gap: 20px;
}
.footer_socialmedia > ul > li {
  font-size: 20px;
}
.footer_socialmedia > ul > li > a {
  color: var(--white-color);
}
.btn_to_top {
  position: absolute;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--second-color);
  right: 5%;
}
.btn_to_top a {
  color: var(--white-color);
  font-size: 30px;
}

/* Responsive Css */
@media screen and (max-width: 868px) {
  section {
    height: 100%;
  }
  .nav_list {
    width: 80%;
  }
  .hero_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px 20%;
  }
  .hero_img > img {
    margin-top: 20px;
    width: 500px;
    margin-left: -30%;
  }
  .hero_img > img:nth-child(2) {
    position: absolute;
    width: 100px;
    left: 30%;
    bottom: 40%;
  }
  .hero_img > img:nth-child(3) {
    position: absolute;
    width: 100px;
    right: 15%;
    bottom: 80%;
  }
  .hero_text {
    line-height: 25px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  .hero_text > h1 {
    font-size: 50px;
    line-height: 65px;
    margin-top: -20px;
  }
  .hero_text > h3 {
    font-size: 25px;
  }
  .hero_text > p {
    font-size: 15px;
    margin-top: -20px;
  }
  .hero_btn {
    margin: 0;
    justify-content: center;
  }
  .hero_btn > button {
    padding: 7px 10px;
    font-size: 15px;
  }
  #find_more {
    width: 30%;
    height: auto;
  }
  .majority_container {
    margin: 5%;
  }
  .majority_container > .majority_card_list {
    flex-wrap: wrap;
    align-items: center;
  }
  .card_item {
    width: 300px;
  }
  .package_card_list {
    flex-direction: column;
    padding-bottom: 5%;
  }
  .btn_to_top {
    right: 2%;
  }
}
/* Mobile */
@media screen and (max-width: 576px) {
  section {
    height: 100%;
    padding: 0 20px;
  }
  nav {
    padding: 11px;
  }
  .nav {
    background-color: var(--white-color);
  }
  .nav_list {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 10%;
    width: 60%;
    height: 100vh;
    background-color: var(--white-color);
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    gap: 70px;
    transform: translateX(100%);
    transition: all 1s;
    border-radius: 0 0 0 20px;
  }
  .slide {
    transform: translateX(0);
  }
  .menu_toggle {
    display: flex;
  }
  .hero_container {
    flex-direction: column;
    margin-top: 30px;
    margin: 0;
  }
  .hero_img > img {
    width: 400px;
    margin-right: -25px;
    margin-top: 30px;
  }
  .hero_text {
    line-height: 25px;
    justify-content: center;
    text-align: center;
  }
  .hero_text > h1 {
    font-size: 40px;
    line-height: 50px;
    margin-top: -20px;
  }
  .hero_text > h3 {
    font-size: 20px;
  }
  .hero_text > p {
    font-size: 15px;
    margin-top: -20px;
  }
  .hero_btn > button {
    font-size: 13px;
    gap: 20px;
  }
  #read_more {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .majority_container {
    margin-top: 10%;
  }
  .majority_header > h1 {
    font-size: 40px;
  }
  .majority_card_list {
    flex-direction: column;
    margin-left: -30px;
  }
  .card_item {
    width: 300px;
    height: 380px;
  }
  .card_item > .majority_button {
    padding-bottom: 10px;
  }
  .package_container {
    margin-top: 10%;
  }
  .package_header > h3 {
    font-size: 20px;
  }
  .package_header > h1 {
    font-size: 40px;
  }
  .package_card_list {
    flex-direction: column;
  }
  .package_card_item > figure > img {
    width: 340px;
  }
  .package_icons > img {
    width: 100px;
    top: 5%;
  }
  .patner_header > h1 {
    font-size: 40px;
  }
  .patner_item > img {
    width: 50px;
    height: 50px;
  }
  .subs_container {
    margin: 30px 20px 100px 20px;
    padding: 40px 40px;
  }
  .subs_text {
    font-size: 10px;
  }
  .subs_img > img {
    width: 40px;
    right: -10px;
    top: -10px;
  }
  .subs_email > input,
  button {
    height: 30px;
  }
  .identity_card {
    padding: 20px;
    text-align: center;
  }
  .footer_container {
    flex-direction: column;
  }
  .btn_to_top {
    top: 5%;
  }
}
